/* 
    Document   : Undecorator
    Created on : Jan 15, 2013, 8:42:25 AM
    Author     : In-SideFX
    Description:
        Demo purpose
*/

.undecorator-background {
    -fx-fill: #ffffff;
}
/*
*	Minmize button
*/
.decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/minimize.png");
}

.decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/minimize-hover.png");
}
/*
*	Maximize button
*/
.decoration-button-maximize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/maximize.png");
}
.decoration-button-maximize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/maximize-hover.png");
}
/*
*	Close button
*/
.decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/close.png");
}
.decoration-button-close:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/close-hover.png");
}

/*
*	Resize button
*/
.decoration-button-resize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/resizeSE.png");
}