/* 
    Document   : windowenhancer
    Created on : Jan 15, 2013, 8:42:25 AM
    Author     : In-SideFX
    Description:
        Purpose of the stylesheet follows.
*/

.undecorator-background {
    -fx-fill: #ffffff;
}


    